<template>
  <div>
    <div class="title">Congratulations</div>
    <div class="subtitle">Now you’re one of us!</div>
    <div class="big-icon"><i class="mdi mdi-emoticon-happy"></i></div>
    <i class="focus">Redirected to homepage after 5 seconds…</i>
  </div>
</template>

<script>
export default {
  name: 'Congratulations'
}
</script>
