<template>
  <div>
    <div class="title">Create Account</div>
    <div class="subtitle">Glad to see you here!</div>
    <div class="form">
      <div class="field">
        <input-box
          label="Account"
          name="id"
          placeholder="example@email.com"
          type="email"
          required
        />
      </div>
      <div class="field">
        <input-box
          label="Password"
          name="pass"
          type="password"
          rules="min:6"
          required
          v-model="password"
        />
      </div>
      <div class="field">
        <input-box
          label="Confirm Password"
          name="confirm-password"
          type="password"
          :rules="{ min: 6, is: password }"
          required
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreateAccount',
  data: () => ({
    password: ''
  }),
  inject: ['$validator']
}
</script>
