<template>
  <div>
    <div class="title">General Infomation</div>
    <div class="subtitle">Tell us who you are!</div>
    <div class="form">
      <div :class="{
        field: true,
        column: $mq === 'sm'
      }">
        <input-box
          label="Name"
          desc="optional"
          name="name"
          type="text"
          rules="alpha"
          placeholder="Example Name"
        />
        <input-box
          label="Phone"
          name="phone"
          type="text"
          rules="decimal"
          placeholder="0912 345 678"
        />
      </div>
      <div class="field">
        <input-box
          label="Birth Date"
          desc="optional"
          name="birth-year"
          placeholder="YYYY"
          :options="Array.from({length: 100}, (v, n) => 2018 - n)"
        />
        <input-box
          label=""
          name="birth-month"
          placeholder="MM"
          :options="Array.from({length: 12}, (v, n) => ++n)"
          v-model="month"
        />
        <input-box
          label=""
          name="birth-day"
          placeholder="DD"
          :options="Array.from({length: days}, (v, n) => ++n)"
        />
      </div>
      <div class="field">
        <input-box
          label="Address"
          name="address-city"
          :options="['Kaohsiung City']"
          required
        />
        <input-box
          label="Address"
          name="address-dist"
          :options="['Yancheng Dist']"
          required
        />
      </div>
      <div class="field">
        <input-box
          name="address-detail"
          type="text"
          placeholder="Detail address"
          required
          hide-label
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GeneralInformation',
  data: () => ({
    month: ''
  }),
  computed: {
    days () {
      return parseInt(this.month)
        ? (this.month < 8 ? this.month : this.month - 7) % 2 + 30
        : 0
    }
  },
  inject: ['$validator']
}
</script>
