<template>
  <div>
    <div class="title">Payment Method</div>
    <div class="subtitle">Add your credit card infomation!</div>
    <div class="form">
      <div class="field">
        <!-- FIXME: card detect -->
        <input-box
          label="Card Number"
          name="card"
          placeholder="1234 5678 9012 3456"
          type="text"
          rules="credit_card"
          :custom-icon="cardIcon"
          required
          v-model="card"
        />
      </div>
      <div :class="{
        field: true,
        column: $mq === 'sm'
      }">
        <input-box
          label="Cardholder Name"
          name="cardholder"
          placeholder="EXAMPLE NAME"
          type="text"
          required
        />
        <input-box
          label="Bank Name"
          name="bank"
          placeholder="EXAMPLE BANK"
          type="text"
          required
        />
      </div>
      <div class="field">
        <input-box
          label="CVV"
          name="cvv"
          type="text"
          rules="numeric|min:3|max:4"
          required
        />
        <input-box
          label="Expire Date"
          name="expire-year"
          placeholder="MM"
          :options="validYears"
        />
        <input-box
          label=""
          name="expire-month"
          placeholder="DD"
          :options="Array.from({length: 12}, (v, n) => ++n)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import cardValidator from 'card-validator'

const iconSet = {
  'american-express': 'fab fa-cc-amex'
}

export default {
  name: 'PaymentMethod',
  data: () => ({
    card: '',
    cardType: ''
  }),
  computed: {
    isValid () {
      return this.fields['card'] &&
        this.fields['card'].valid &&
        this.fields['card'].validated
    },
    cardIcon () {
      return this.cardType
        ? iconSet[this.cardType] || `fab fa-cc-${this.cardType}`
        : 'mdi mdi-credit-card'
    },
    validYears () {
      const theYear = new Date().getFullYear()
      const yearObj = {}
      // FIXME: the default order is not fit ux.
      Array.from({length: 50}, (v, n) => {
        yearObj[`${theYear - n}`] = (theYear - n) % 100
      })
      return yearObj
    }
  },
  watch: {
    isValid (newVal) {
      this.getCardType()
    }
  },
  methods: {
    getCardType () {
      const numberValidation = cardValidator.number(this.card)
      if (!numberValidation.isValid) {
        this.cardType = ''
      } else if (numberValidation.card) {
        this.cardType = numberValidation.card.type
      }
    }
  },
  inject: ['$validator']
}
</script>
