<template>
  <div>
    <div class="title">Update Profile Picture</div>
    <div class="subtitle">We wanna know you more!</div>
    <form ref="form">
      <input
        ref="fileUploader"
        type="file"
        name="file-upload"
        style="display: none"
        v-validate="{
          image: true,
          customImage: [150, 150]
        }"
      >
    </form>
    <div>{{ errors.first('file-upload') }}</div>
    <div class="form">
      <button
        class="uploader field"
        ref="uploaderBlock"
        @click="$refs.fileUploader.click()"
      >
        <i class="mdi mdi-image-multiple is-size-1"></i>
        <div>
          <div class="text">UPLOAD UP TO 3 PHOTOS</div>
          <div class="desc">MAXIMUM SIZE: 150*150px</div>
        </div>
      </button>
      <div v-if="errorMsg" class="error-msg field">
        <i class="subtitle mdi mdi-alert"></i>
        {{ errorMsg }}
      </div>
      <div v-if="this.data.profileImg.length" class="image-list field">
        <div v-for="(image, index) of data.profileImg" :key="index" class="profile-image">
          <img :src="image">
          <div class="image-delete"><i class="mdi mdi-delete is-size-4"></i></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfilePicture',
  data: () => ({
    data: {
      profileImg: []
    },
    showError: false
  }),
  computed: {
    errorMsg () {
      return this.errors.first('file-upload') || (this.showError && this.data.profileImg.length >= 3 ? 'Too much image, cannot upload.' : '')
    },
    isValid () {
      return this.fields['file-upload'] &&
        this.fields['file-upload'].valid &&
        this.fields['file-upload'].validated
    }
  },
  mounted () {
    if (!this.$validator.data) this.$validator.data = this.data
  },
  watch: {
    isValid (newVal) {
      if (newVal) {
        this.showError = false
        this.readFile()
      }
    }
  },
  inject: ['$validator'],
  methods: {
    readFile () {
      const [ file ] = this.$refs.fileUploader.files
      if (file && /image\/.*/.test(file.type) && this.data.profileImg.length < 3) {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => {
          this.data.profileImg.indexOf(reader.result) === -1 &&
          this.data.profileImg.push(reader.result)
          this.$refs.form.reset()
          this.$validator.fields.find({ name: 'file-upload' }).reset()
          this.$validator.fields.find({ name: 'file-upload' }).setFlags({valid: true})
        }
      } else if (this.data.profileImg.length >= 3) {
        this.showError = true
      }
    }
  }
}
</script>
