<template>
  <div :class="{
    'input-box': true,
    'hide-label': hideLabel,
    'has-icon': !!customIcon,
    'is-error': errors.has(name),
    'is-mobile': $mq !== 'hd'
  }">
    <div class="input-label">
      <span v-text="label"/>
      <span v-if="desc" class="label" v-text="` (${desc})`"/>
    </div>
    <div class="input-outline">
      <input
        v-if="!inputOptions"
        v-bind="$attrs"
        :name="name"
        :required="required"
        v-validate="rules"
        v-model="inputVal"
      >
      <select
        v-else
        v-model="inputVal"
        :name="name"
        :required="required"
        @change="updateSelection"
        v-validate
      >
        <option
          v-for="(title, value) of inputOptions"
          :key="value"
          :value="value"
          v-text="title"
        />
      </select>
      <i :class="{
        'input-icon': true,
        'mdi mdi-alert': errors.has(name),
        [customIcon]: !!customIcon && !errors.has(name)
      }"/>
      <div class="label">{{  errors.first(name) }}</div>
    </div>
  </div>
</template>

<style lang="scss">
$focus: #0275d8;
$warn: #f5a623;

.input-box,
.input-box input,
.input-box select {
  width: 100%;
}

.input-box {
  margin-top: 32px;
  position: relative;
  .input-label {
    position: absolute;
    top: -32px;
    white-space: nowrap;
  }
  .input-outline {
    position: relative;
    input,
    select {
      height: 52px;
      outline: 0;
      line-height: 24px;
      font: inherit;
      line-height: inherit;
      border: 2px solid #000;
      border-radius: 8px;
      &:focus {
        border: 2px solid $focus;
      }
    }
    input {
      padding: 0px 20px 6px;
    }
    select {
      text-align-last: center;
    }
    .label {
      position: absolute;
      left: 0;
      bottom: -20px;
      white-space: nowrap;
    }
    .input-icon {
      position: absolute;
      font-size: 23px;
      right: 20px;
      top: 12px;
      display: none;
    }
  }
  &.hide-label {
    margin-top: 0;
  }
  &.is-error {
    .input-outline {
      input {
        border-color: $warn;
      }
      .label,
      .input-icon {
        color: $warn;
      }
    }
  }
  &.is-error,
  &.has-icon {
    .input-outline {
      input {
        padding-right: 40px;
      }
      .input-icon {
        display: block;
      }
    }
  }
}
</style>

<script>
export default {
  name: 'InputBox',
  inject: ['$validator'],
  props: {
    value: {
      default: ''
    },
    label: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    desc: {
      type: String,
      default: ''
    },
    rules: {
      type: [String, Object],
      default: ''
    },
    hideLabel: {
      type: Boolean,
      default: false
    },
    customIcon: {
      type: String,
      default: ''
    },
    options: {
      type: [Object, Array],
      default: null
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      inputVal: this.value,
      select: {
        value: undefined,
        valid: !this.required
      }
    }
  },
  computed: {
    inputOptions () {
      if (Array.isArray(this.options)) {
        if (this.options.length) {
          const obj = {}
          this.options.forEach(value => { obj[value] = value })
          return obj
        }
        return {}
      }
      return this.options
    }
  },
  watch: {
    inputVal (newVal) {
      this.$emit('input', newVal)
    },
    value (newVal) {
      this.inputVal = newVal
    }
  },
  methods: {
    updateSelection (event) {
      if (this.$validator.fields.items.indexOf(this.select) === -1) this.$validator.fields.items.push(this.select)
      this.select.value = event.target.value
      this.select.valid = true
    }
  }
}
</script>
