<template>
  <div class="pdb">
    <template v-for=" (path, index) in step" v-if="path !== finishPath">
      <router-link :to="path" :key="`step-${index}`">
        <span v-if="index === currentStep" class="step pdb-circle-dot is-active">
          <i class="mdi mdi-checkbox-blank-circle-outline"></i>
          <i class="mdi mdi-checkbox-blank-circle"></i>
        </span>
        <span v-else-if="index < currentStep" class="step pdb-check-circle is-active">
          <i class="mdi mdi-checkbox-marked-circle"></i>
        </span>
        <span v-else class="step pdb-circle">
          <i class="mdi mdi-checkbox-blank-circle-outline"></i>
        </span>
      </router-link>
      <span :class="`step pdb-line ${index < currentStep && 'is-active'}`" :key="`line-${index}`"></span>
    </template>
  </div>
</template>

<script>
export default {
  name: 'ProgressDotBar',
  props: {
    step: {
      type: Array,
      default: () => ([])
    },
    finishPath: {
      type: String,
      default: ''
    }
  },
  computed: {
    currentStep () {
      return this.step.indexOf(this.$route.path)
    }
  }
}
</script>

<style lang="scss">
$inactive: #bee1ff;
$active: #0275D8;
.pdb {
  display: inline-block;
  .step {
    position: relative;
    i {
      font-size: 20px;
    }
    &:not(:last-child) {
      padding-left: 70px;
      &::before {
        content: "";
        position: absolute;
        width: 74px;
        left: -2px;
        top: 8px;
        border: 1px solid;
      }
    }
  }
  .pdb-circle-dot {
    .mdi-checkbox-blank-circle {
      position: absolute;
      font-size: 12px;
      top: 0px;
      left: 4px;
    }
  }
  a,
  .step {
    color: $inactive;
  }
  .is-active {
    color: $active;
  }
}
</style>
