<template>
  <div id="app">
    <div class="guide-line">
      <PDB :step="routeList" :finishPath="finishPath"/>
    </div>
    <router-view class="page"/>
    <div class="page">
      <div class="form">
        <a
          v-if="$route.path !== finishPath"
          :class="{
            button: true,
            'is-fullwidth': true,
            'is-link': true,
            'is-invalid': !isReady
          }"
          @click="saveInput"
        >{{
          routeList.indexOf($route.path) === routeList.length - 2
            ? 'DONE'
            : 'SUBMIT & NEXT'
        }}</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
/* font: mdi */
@import "~@mdi/font/scss/_variables";
$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons";

/* font: font awesome brand */
@import "~@fortawesome/fontawesome-free/scss/_variables";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/fa-brands";

/* font: roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i');

/* bulma */
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";

@import "~bulma/sass/elements/button";

$focus: #0275d8;
$invalid: #bee1ff;
$warn: #f5a623;

#app {
  .guide-line {
    text-align: center;
    margin: 40px 0;
  }
  .page {
    max-width: 480px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: auto;
    .title {
      font-weight: 300;
      font-size: 48px;
      line-height: 57px;
    }
    .subtitle {
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
    }
    .label {
      font-size: 14px;
    }
    .text {
      font-size: 20px;
      line-height: 24px
    }
    .desc {
      font-size: 14px;
      line-height: 24px;
    }
    .uploader {
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: #9b9b9b;
      padding: 48px 0;
      border: 2px solid #000;
      border-radius: 8px;
      &:focus-within {
        color: $focus;
        border-color: $focus;
      }
      .is-size-1 {
        line-height: 3rem;
      }
      > * {
        margin-right: 0 !important;
      }
    }
    .error-msg {
      justify-content: center;
      border-radius: 8px;
      color: #fff;
      background-color: $warn;
      text-transform: uppercase;
      padding: 14px 0;
      i {
        padding-right: 8px;
      }
    }
    .profile-image {
      position: relative;
      overflow: hidden;
      width: calc((100% - 40px) / 3);
      border-radius: 8px;
      img {
        width: 100%;
      }
      .image-delete {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 100%;
        left: 0;
        bottom: -52px;
        background-color: $focus;
        color: #fff;
      }
      &:hover {
        .image-delete {
          bottom: 0;
        }
      }
    }
    .big-icon {
      font-size: 230px;
      line-height: 230px;
      color: $invalid;
    }
    .focus {
      color: $focus;
    }
    .form {
      margin: 20px;
      display: flex;
      flex-direction: column;
      text-align: left;
      .field {
        display: flex;
        margin-bottom: 20px;
        flex-grow: 1;
        &:not(.column) {
          > *:not(:last-child) {
            margin-right: 20px;
          }
        }
        &.column {
          flex-direction: column;
          > *:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
      .button {
        font-size: 20px;
      }
      .is-invalid {
        background-color: $invalid !important;
      }
    }
  }
}
</style>

<script>
import PDB from '@/components/ProgressDotBar.vue'

export default {
  name: 'APP',
  components: {
    PDB
  },
  data: () => ({
    finishPath: '/congratulations',
    form: {}
  }),
  computed: {
    routeList () {
      return this.$router.options.routes
        .filter(route => route.path !== '/' && !route.redirect)
        .reduce((prev, curr) => Array.isArray(prev) ? (prev.push(curr.path) && prev) : [prev.path, curr.path])
    },
    isReady () {
      return Object.keys(this.fields)
        .every(key => this.fields[key].valid)
    }
  },
  methods: {
    saveInput () {
      if (!this.isReady) throw new Error('Please check your inputs.')
      /* if there's some data included */
      if (this.$validator.data) {
        Object.assign(this.form, this.$validator.data)
        delete this.$validator.data
      } else {
        this.$validator.fields.items.forEach(field => { this.form[field.name] = field.value })
        /* object cleanup */
        ;['confirm-password', 'file-upload'].forEach(key => delete this.form[key])
      }

      this.$router.push(this.routeList[this.routeList.indexOf(this.$route.path) + 1])
    }
  }
}
</script>
